server:
  port: 37000
  address: uat-host

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://uat_db-server:3306/uat_db_schema?characterEncoding=utf8&serverTimezone=UTC
    username: uat_db_user
    password: uat_db_password

cmdb:
  datasource:
    schema: uat_db_user

  security:
    enabled: true

    #Authentication provider options: LOCAL or CAS. Effective ONLY when security-enabled set as true.
    authentication-provider: CAS

    #Effective ONLY when security-enabled set as true and authentication-provider turns to CAS
    cas-server-url: http://uat-cas-server-ip:8080/cas
    cas-redirect-app-addr: uat-host:8080

    #Effective ONLY when security-enabled set as true
    whitelist-ip-address: